<?xml version="1.0"?>
<!--
/**
 * Copyright © 2025 MageStack. All rights reserved.
 * See COPYING.txt for license details.
 *
 * DISCLAIMER
 *
 * Do not make any kind of changes to this file if you
 * wish to upgrade this extension to newer version in the future.
 *
 * @category  MageStack
 * @package   MageStack_GoogleLogin
 * @author    Amit Biswas <amit.biswas.webdeveloper@gmail.com>
 * @copyright 2025 MageStack
 * @license   https://opensource.org/licenses/MIT  MIT License
 * @link      https://github.com/attherateof/GoogleLogin
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageStack\GoogleLogin\Api\ConfigInterface" type="MageStack\GoogleLogin\Model\Config" />
    <type name="MageStack\GoogleLogin\Model\Provider\GoogleAuth">
        <arguments>
            <argument name="authorizationUrl" xsi:type="string">https://accounts.google.com/o/oauth2/v2/auth</argument>
            <argument name="userInfoUrl" xsi:type="string">https://www.googleapis.com/oauth2/v1/userinfo?alt=json</argument>
            <argument name="tokenUrl" xsi:type="string">https://oauth2.googleapis.com/token</argument>
        </arguments>
    </type>
</config>